<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>admin</servlet-name>
  	<display-name>admin</display-name>
  	<description></description>
  	<servlet-class>servlets.admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Statistics</servlet-name>
  	<display-name>Statistics</display-name>
  	<description></description>
  	<servlet-class>servlets.Statistics</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterBook</servlet-name>
  	<display-name>RegisterBook</display-name>
  	<description></description>
  	<servlet-class>servlets.RegisterBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetBorrowed</servlet-name>
  	<display-name>GetBorrowed</display-name>
  	<description></description>
  	<servlet-class>servlets.GetBorrowed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToBooksInLibrary</servlet-name>
  	<display-name>AddToBooksInLibrary</display-name>
  	<description></description>
  	<servlet-class>servlets.AddToBooksInLibrary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrowStatusChange</servlet-name>
  	<display-name>BorrowStatusChange</display-name>
  	<description></description>
  	<servlet-class>servlets.BorrowStatusChange</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeBorrowed</servlet-name>
  	<display-name>SeeBorrowed</display-name>
  	<description></description>
  	<servlet-class>servlets.SeeBorrowed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetBooksInLibrary</servlet-name>
  	<display-name>GetBooksInLibrary</display-name>
  	<description></description>
  	<servlet-class>servlets.GetBooksInLibrary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeLibraries</servlet-name>
  	<display-name>SeeLibraries</display-name>
  	<description></description>
  	<servlet-class>servlets.SeeLibraries</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetLatLon</servlet-name>
  	<display-name>GetLatLon</display-name>
  	<description></description>
  	<servlet-class>servlets.GetLatLon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Borrow</servlet-name>
  	<display-name>Borrow</display-name>
  	<description></description>
  	<servlet-class>servlets.Borrow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewServletRequest</servlet-name>
  	<display-name>NewServletRequest</display-name>
  	<description></description>
  	<servlet-class>servlets.NewServletRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewServletRequestLibr</servlet-name>
  	<display-name>NewServletRequestLibr</display-name>
  	<description></description>
  	<servlet-class>servlets.NewServletRequestLibr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewServletRequestLibrUpd</servlet-name>
  	<display-name>NewServletRequestLibrUpd</display-name>
  	<description></description>
  	<servlet-class>servlets.NewServletRequestLibrUpd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewServletRequestUpd</servlet-name>
  	<display-name>NewServletRequestUpd</display-name>
  	<description></description>
  	<servlet-class>servlets.NewServletRequestUpd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TableContents</servlet-name>
  	<display-name>TableContents</display-name>
  	<description></description>
  	<servlet-class>servlets.TableContents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TableContentsLibr</servlet-name>
  	<display-name>TableContentsLibr</display-name>
  	<description></description>
  	<servlet-class>servlets.TableContentsLibr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SeeNotifications</servlet-name>
  	<display-name>SeeNotifications</display-name>
  	<description></description>
  	<servlet-class>servlets.SeeNotifications</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowActiveBorrowings</servlet-name>
  	<display-name>ShowActiveBorrowings</display-name>
  	<description></description>
  	<servlet-class>servlets.ShowActiveBorrowings</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Review</servlet-name>
  	<display-name>Review</display-name>
  	<description></description>
  	<servlet-class>servlets.Review</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Books</servlet-name>
  	<display-name>Books</display-name>
  	<description></description>
  	<servlet-class>servlets.Books</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reviews</servlet-name>
  	<display-name>Reviews</display-name>
  	<description></description>
  	<servlet-class>servlets.Reviews</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Statistics</servlet-name>
  	<url-pattern>/Statistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterBook</servlet-name>
  	<url-pattern>/RegisterBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBorrowed</servlet-name>
  	<url-pattern>/GetBorrowed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToBooksInLibrary</servlet-name>
  	<url-pattern>/AddToBooksInLibrary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrowStatusChange</servlet-name>
  	<url-pattern>/BorrowStatusChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeBorrowed</servlet-name>
  	<url-pattern>/SeeBorrowed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBooksInLibrary</servlet-name>
  	<url-pattern>/GetBooksInLibrary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeLibraries</servlet-name>
  	<url-pattern>/SeeLibraries</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetLatLon</servlet-name>
  	<url-pattern>/GetLatLon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Borrow</servlet-name>
  	<url-pattern>/Borrow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewServletRequest</servlet-name>
  	<url-pattern>/NewServletRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewServletRequestLibr</servlet-name>
  	<url-pattern>/NewServletRequestLibr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewServletRequestLibrUpd</servlet-name>
  	<url-pattern>/NewServletRequestLibrUpd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewServletRequestUpd</servlet-name>
  	<url-pattern>/NewServletRequestUpd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TableContents</servlet-name>
  	<url-pattern>/TableContents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TableContentsLibr</servlet-name>
  	<url-pattern>/TableContentsLibr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SeeNotifications</servlet-name>
  	<url-pattern>/SeeNotifications</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowActiveBorrowings</servlet-name>
  	<url-pattern>/ShowActiveBorrowings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Review</servlet-name>
  	<url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Books</servlet-name>
  	<url-pattern>/Books</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reviews</servlet-name>
  	<url-pattern>/Reviews</url-pattern>
  </servlet-mapping>
</web-app>
